.container {
  width: 98%;
  height: auto;
  margin: auto;
  background-color: white;
  margin-top: 90px;
  margin-bottom: 20px;
}
.product-text {
  padding: 5px 10px;
  font-size: x-large;
}
.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 5px;
}
.productListInputSearch {
  width: 100%;
  background-color: #ffffff;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.productListInput {
  width: 300px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 2px 10px;
  background-color: rgb(238, 237, 237);
}
.productListInput:focus {
  border: 1px solid rgb(247, 101, 101);
}

@media screen and (min-width: 800px) {
  .productListInput {
    width: 400px;
  }
}
